@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot');
  src: url('font/fontello.eot') format('embedded-opentype'),
       url('font/fontello.woff') format('woff'),
       url('font/fontello.ttf') format('truetype'),
       url('font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg@10873057#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-keyboard:before { content: '\2328'; } /* '⌨' */
.icon-pause:before { content: '\2389'; } /* '⎉' */
.icon-fast-forward:before { content: '\23e9'; } /* '⏩' */
.icon-fast-backward:before { content: '\23ea'; } /* '⏪' */
.icon-to-end:before { content: '\23ed'; } /* '⏭' */
.icon-to-start:before { content: '\23ee'; } /* '⏮' */
.icon-hourglass:before { content: '\23f3'; } /* '⏳' */
.icon-stop:before { content: '\25a0'; } /* '■' */
.icon-up-dir:before { content: '\25b4'; } /* '▴' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-down-dir:before { content: '\25be'; } /* '▾' */
.icon-left-dir:before { content: '\25c2'; } /* '◂' */
.icon-adjust:before { content: '\25d1'; } /* '◑' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-umbrella:before { content: '\2602'; } /* '☂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-menu:before { content: '\2630'; } /* '☰' */
.icon-moon:before { content: '\263d'; } /* '☽' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-note:before { content: '\266a'; } /* '♪' */
.icon-note-beamed:before { content: '\266b'; } /* '♫' */
.icon-layout:before { content: '\268f'; } /* '⚏' */
.icon-flag-1:before { content: '\e804'; } /* '' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-flash:before { content: '\26a1'; } /* '⚡' */
.icon-record:before { content: '\26ab'; } /* '⚫' */
.icon-cloud-thunder:before { content: '\26c8'; } /* '⛈' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-scissors:before { content: '\2702'; } /* '✂' */
.icon-tape:before { content: '\2707'; } /* '✇' */
.icon-flight:before { content: '\2708'; } /* '✈' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-feather:before { content: '\2712'; } /* '✒' */
.icon-check:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-help:before { content: '\2753'; } /* '❓' */
.icon-quote:before { content: '\275e'; } /* '❞' */
.icon-right:before { content: '\27a1'; } /* '➡' */
.icon-direction:before { content: '\27a2'; } /* '➢' */
.icon-forward:before { content: '\27a6'; } /* '➦' */
.icon-ccw:before { content: '\27f2'; } /* '⟲' */
.icon-cw:before { content: '\27f3'; } /* '⟳' */
.icon-left:before { content: '\2b05'; } /* '⬅' */
.icon-up:before { content: '\2b06'; } /* '⬆' */
.icon-down:before { content: '\2b07'; } /* '⬇' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-help-circled:before { content: '\e704'; } /* '' */
.icon-info-circled:before { content: '\e705'; } /* '' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-upload-cloud:before { content: '\e711'; } /* '' */
.icon-reply:before { content: '\e712'; } /* '' */
.icon-reply-all:before { content: '\e713'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-print:before { content: '\e716'; } /* '' */
.icon-retweet:before { content: '\e717'; } /* '' */
.icon-comment-1:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-chat-1:before { content: '\e803'; } /* '' */
.icon-chat:before { content: '\e720'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-address:before { content: '\e723'; } /* '' */
.icon-location-1:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-map:before { content: '\e727'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-share:before { content: '\e73c'; } /* '' */
.icon-basket:before { content: '\e73d'; } /* '' */
.icon-shareable:before { content: '\e73e'; } /* '' */
.icon-resize-full:before { content: '\e744'; } /* '' */
.icon-resize-small:before { content: '\e746'; } /* '' */
.icon-chart-pie:before { content: '\e751'; } /* '' */
.icon-bucket:before { content: '\e756'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-down-open-mini:before { content: '\e760'; } /* '' */
.icon-back-in-time:before { content: '\e771'; } /* '' */
.icon-network:before { content: '\e776'; } /* '' */
.icon-lifebuoy:before { content: '\e788'; } /* '' */
.icon-mouse:before { content: '\e789'; } /* '' */
.icon-dot-3:before { content: '\e78d'; } /* '' */
.icon-suitcase:before { content: '\e78e'; } /* '' */
.icon-flow-cascade:before { content: '\e790'; } /* '' */
.icon-flow-branch:before { content: '\e791'; } /* '' */
.icon-flow-tree:before { content: '\e792'; } /* '' */
.icon-flow-line:before { content: '\e793'; } /* '' */
.icon-brush:before { content: '\e79a'; } /* '' */
.icon-paper-plane:before { content: '\e79b'; } /* '' */
.icon-magnet:before { content: '\e7a1'; } /* '' */
.icon-traffic-cone:before { content: '\e7a3'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile-1:before { content: '\f10b'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-flickr:before { content: '\f303'; } /* '' */
.icon-flickr-circled:before { content: '\f304'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-dribbble-circled:before { content: '\f31c'; } /* '' */
.icon-stumbleupon:before { content: '\f31e'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f31f'; } /* '' */
.icon-lastfm:before { content: '\f321'; } /* '' */
.icon-lastfm-circled:before { content: '\f322'; } /* '' */
.icon-rdio:before { content: '\f324'; } /* '' */
.icon-rdio-circled:before { content: '\f325'; } /* '' */
.icon-spotify:before { content: '\f327'; } /* '' */
.icon-spotify-circled:before { content: '\f328'; } /* '' */
.icon-qq:before { content: '\f32a'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */
.icon-flattr:before { content: '\f336'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-renren:before { content: '\f33c'; } /* '' */
.icon-sina-weibo:before { content: '\f33f'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */
.icon-picasa:before { content: '\f345'; } /* '' */
.icon-soundcloud:before { content: '\f348'; } /* '' */
.icon-mixi:before { content: '\f34b'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */
.icon-google-circles:before { content: '\f351'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-globe:before { content: '🌎'; } /* '\1f30e' */
.icon-globe-1:before { content: '\e805'; } /* '' */
.icon-leaf:before { content: '🍂'; } /* '\1f342' */
.icon-graduation-cap:before { content: '🎓'; } /* '\1f393' */
.icon-mic:before { content: '🎤'; } /* '\1f3a4' */
.icon-trophy:before { content: '🏆'; } /* '\1f3c6' */
.icon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.icon-thumbs-down:before { content: '👎'; } /* '\1f44e' */
.icon-bag:before { content: '👜'; } /* '\1f45c' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-users:before { content: '👥'; } /* '\1f465' */
.icon-lamp:before { content: '💡'; } /* '\1f4a1' */
.icon-alert:before { content: '💥'; } /* '\1f4a5' */
.icon-droplet:before { content: '💧'; } /* '\1f4a7' */
.icon-briefcase:before { content: '💼'; } /* '\1f4bc' */
.icon-floppy:before { content: '💾'; } /* '\1f4be' */
.icon-folder:before { content: '📁'; } /* '\1f4c1' */
.icon-chart-bar:before { content: '📊'; } /* '\1f4ca' */
.icon-pin:before { content: '📌'; } /* '\1f4cc' */
.icon-attach-1:before { content: '\e800'; } /* '' */
.icon-bookmarks:before { content: '📑'; } /* '\1f4d1' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-megaphone-1:before { content: '\e806'; } /* '' */
.icon-megaphone:before { content: '📣'; } /* '\1f4e3' */
.icon-upload:before { content: '📤'; } /* '\1f4e4' */
.icon-download:before { content: '📥'; } /* '\1f4e5' */
.icon-signal:before { content: '📶'; } /* '\1f4f6' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-shuffle:before { content: '🔀'; } /* '\1f500' */
.icon-arrows-ccw:before { content: '🔄'; } /* '\1f504' */
.icon-battery:before { content: '🔋'; } /* '\1f50b' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-key:before { content: '🔑'; } /* '\1f511' */
.icon-lock:before { content: '🔒'; } /* '\1f512' */
.icon-lock-open:before { content: '🔓'; } /* '\1f513' */
.icon-bell:before { content: '🔔'; } /* '\1f514' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */
.icon-link-1:before { content: '\e801'; } /* '' */
.icon-back:before { content: '🔙'; } /* '\1f519' */
.icon-hammer:before { content: '🔨'; } /* '\1f528' */
.icon-chart-area:before { content: '🔾'; } /* '\1f53e' */
.icon-rocket:before { content: '🚀'; } /* '\1f680' */
.icon-truck:before { content: '🚚'; } /* '\1f69a' */