@charset "utf-8";
/* CSS Document */


body
{
background-color: #fefefe;
	font-family: GE SS Text Light, GE SS Two Bold;
}

header,footer{background-color: #191919;transition:height 500ms;}
.fixed{height:80px;width:100%;margin:0px;padding:0px;position: fixed;;top:0px;opacity: 0.9;z-index: 90;}

#logo2{width:70px;margin:5px;float:left;display:none;}

footer{height:40px;width:100%;margin:0px;padding:0px;position: fixed;;bottom:0px;opacity: 0.9;}
/*C1272D*/
nav ul{
	display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
list-style:none;

	flex-wrap: wrap;
}
img{position:relative;}

img::after
{
	content: "asdsad";
	
	top:0px;
	height:40px;
	width:200px;
	background-color:red;
	z-index:99;
}


nav li{flex:1 0 auto;font-size:2em;text-align:center;}

nav{float: right;width:60%;margin-top:40px;}


.clear{clear:both;}

a:hover{text-decoration:none;border-bottom:5px solid #C1272D;}
a{transition:all 500ms;}

h3{color:#C1272D;font-size:2.5em}
h4{color:#C1272D;font-size:2em}

.pages{display:flex;}
.pages>span{width:15px;height:15px;border-radius:50%;background-color:#C1272D;margin:10px;}

.content{margin-top:2em;}
#logo{width:100%;}


.slide img{width:100%;}
.main p,.news p{color:#191919;text-align:right;font-size:1.5em;}
.activities p{line-height:1.2;}
h3,h4{font-family:GE SS Text Light, GE SS Two Bold;}
.cats{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
}
.cats li{background-color:#191919;margin:.5em 0em;width:100%;font-size:2em;}
.cats{text-align:center;}

.news>div,.carousel {padding:4px;margin:5px;border-bottom:2px solid #C1272D; }
.activities>div::after{margin:10px 0px;border-bottom:1px solid #C1272D; display:block;width:90%;margin-right:20px;}
.activities h4{background-color:#191919;color:white;padding:5px;}
.activities>div{position: relative;}
.activities a{position: absolute;bottom: 0px;left: 0px;color:#C1272D;}
.news h4{background-color:#C1272D;color:white;padding:4px;}

.activities{position: relative;top: 500px;;}

.carousel>div{}

.carousel{position: relative;}
.slide{transition:all 500ms;position:absolute;top:30px;}


.active{opacity:1;}