@charset "UTF-8";

@import url(../../../../fonts.googleapis.com/css@family=Open+Sans_3A300italic,400italic,600italic,700italic,400,300,500,600,700&subset=latin,cyrillic-ext);
@import "fontawesome/font-awesome.min.css";


.bootstrap-select.btn-group.pull-right, .bootstrap-select.btn-group[class*=span].pull-right, .row-fluid .bootstrap-select.btn-group[class*=span].pull-right {
    float: right;
}


ul.panel-controls > li > .dropdown-menu {
    left: auto;
    right: 3px;
}

    ul.panel-controls > li > .dropdown-menu:after, ul.panel-controls > li > .dropdown-menu:before {
        left: auto;
        right: 11px;
    }

    ul.panel-controls > li > .dropdown-menu:after {
        margin-left: auto;
        margin-right: -5px;
    }

    ul.panel-controls > li > .dropdown-menu:before {
        margin-left: auto;
        margin-right: -6px;
    }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-color: #E5E5E5;
    border-width: 1px;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background: #F8FAFC;
}

.table > thead > tr > th {
    background: #C7DDF4;
    color: #56688A;
    font-size: 12px;
}

.panel-body.panel-body-table {
    padding: 0;
}

    .panel-body.panel-body-table h1, .panel-body.panel-body-table h2, .panel-body.panel-body-table h3, .panel-body.panel-body-table h4, .panel-body.panel-body-table h5, .panel-body.panel-body-table h6 {
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .panel-body.panel-body-table .table {
        margin-bottom: 0;
        border: 0;
    }

        .panel-body.panel-body-table .table tr > td:first-child, .panel-body.panel-body-table .table tr > th:first-child {
            border-left: 0;
        }

        .panel-body.panel-body-table .table tr > td:last-child, .panel-body.panel-body-table .table tr > th:last-child {
            border-right: 0;
        }

        .panel-body.panel-body-table .table > tbody > tr:last-child > td {
            border-bottom: 0;
        }

    .panel-body.panel-body-table td, .panel-body.panel-body-table th {
        padding: 8px 10px;
    }

.table.table-actions td {
    line-height: 28px;
}

.table .progress-small {
    margin: 7px 0 8px;
}

.dataTable {
    float: left;
    border-bottom: 1px solid #E5E5E5!important;
    margin-bottom: 5px;
}

    .dataTable div.checker, .dataTable div.radio {
        display: inherit;
    }

.dataTables_wrapper {
    float: left;
    width: 100%;
}

.dataTables_length {
    width: 50%;
    float: left;
    padding: 0 0 5px;
    border-bottom: 1px solid #E5E5E5;
    font-size: 12px;
}

    .dataTables_filter label, .dataTables_length label {
        padding: 0;
        line-height: 26px;
        height: auto;
        margin: 0;
        font-weight: 400;
    }

    .dataTables_length select {
        width: 80px;
        display: inline;
        margin: 0 5px;
    }

.dataTables_filter {
    width: 50%;
    float: right;
    padding: 0 0 5px;
    border-bottom: 1px solid #E5E5E5;
    font-size: 12px;
}

    .dataTables_filter label {
        float: right;
    }

        .dataTables_filter label input {
            width: 150px;
            display: inline;
            margin-left: 5px;
        }

td.dataTables_empty {
    font-size: 11px;
    text-align: center;
    color: #333;
}

.dataTables_info {
    float: left;
    font-size: 12px;
    padding: 0;
    line-height: 30px;
}

.dataTables_paginate {
    padding: 0;
    text-align: right;
    float: right;
}

    .dataTables_paginate a.paginate_button, .dataTables_paginate a.paginate_disabled_next, .dataTables_paginate a.paginate_disabled_previous, .paginate_active, .paginate_enabled_next, .paginate_enabled_previous {
        padding: 5px 10px;
        font-size: 12px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        float: left;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        color: #656d78;
        margin-left: 3px;
        cursor: pointer;
    }

        .dataTables_paginate .paginate_enabled_next:hover, .dataTables_paginate .paginate_enabled_previous:hover, .dataTables_paginate a.paginate_button:hover {
            background-color: #eee;
            border-color: #ddd;
            color: #222;
        }

    .dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:hover {
        background: #33414e;
        color: #FFF;
        border-color: #33414e;
    }

    .dataTables_paginate a.paginate_button_disabled, .dataTables_paginate a.paginate_disabled_next, .dataTables_paginate a.paginate_disabled_previous {
        cursor: default;
        color: #ccc;
    }

        .dataTables_paginate a.paginate_button_disabled:hover {
            box-shadow: none;
            color: #ccc;
        }

.sorting, .sorting_asc, .sorting_desc {
    position: relative;
    cursor: pointer;
}

    .sorting:before, .sorting_asc:before, .sorting_desc:before {
        float: right;
        font-family: FontAwesome;
        opacity: .9;
        filter: alpha(opacity=90);
        width: 10px;
        height: 10px;
        display: block;
    }

    .sorting:before {
        content: "\f0dc";
        opacity: .3;
        filter: alpha(opacity=30);
    }

    .sorting_desc:before {
        content: "\f0d8";
    }

    .sorting_asc:before {
        content: "\f0d7";
    }

.sorting_asc_disabled:before, .sorting_desc_disabled:before {
    opacity: .1;
    filter: alpha(opacity=10);
}

.icons-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    display: block;
    float: left;
    width: 100%;
}

    .icons-list li {
        float: left;
        display: block;
        width: 25%;
        height: 30px;
        padding: 5px;
        line-height: 20px;
        font-size: 11px;
        border: 1px solid #FFF;
    }

        .icons-list li:hover {
            color: #333;
            cursor: pointer;
            background: #F5F5F5;
            border: 1px solid #E5E5E5;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
        }

        .icons-list li i, .icons-list li span:first-child {
            font-size: 18px;
            float: left;
            margin-right: 10px;
            color: #222;
            line-height: 20px;
        }

.icon-preview {
    font-size: 88px;
    color: #222;
    text-align: center;
}
