
@{
    ViewBag.Title = "الخصوصية";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
    <div class="container">



        <!-- Main Content -->
        <div class="main-content">

            <!-- Single -->
            <div class="column-two-third single">
                <div class="outerwide">
                    <h5 class="line"><span>سياسة الخصوصية في موقعنا</span></h5>
                    <p>
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                        Mauris dapibus quam id turpis dignissim rutrum. Phasellus placerat nunc in nulla pretium pellentesque. Aliquam erat volutpat.
                        In nec enim dui, in hendrerit enim.
                        Vestibulum ante ipsum primis in faucibus adipcising elit. Lorem ipsum Dolor sit amet adipcising elit mauris dapibus dignisim.
                    </p>

                </div>


            </div>
            <!-- /Single -->

        </div>
        <!-- /Main Content -->
        <!-- Left Sidebar -->
        <div class="column-one-third">
            <div class="sidebar">
                <h5 class="line"><span>الشبكات الإجتماعية</span></h5>
                <ul class="social">
                    <li>
                        <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                        <span>6,800 <br> <i>Likes</i></span>
                    </li>
                    <li>
                        <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                        <span>12,475 <br> <i>followers</i></span>
                    </li>
                    <li>
                        <a href="#" class="rss"><i class="icon-rss"></i></a>
                        <span>12,475 <br> <i>Subscribers</i></span>
                    </li>
                </ul>
            </div>



        </div>
        <!-- /Left Sidebar -->

    </div>
</section>






