<footer class="footer-1" id="footer">
    <div class="vd_bottom ">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12">
                    <div class="copyright">
                        Copyright &copy;@DateTime.Now.Year -Eng.Mohamad Alsaid . All Rights Reserved
                    </div>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </div>
</footer>