<header class="header-1" id="header">
    <div class="vd_top-menu-wrapper">
        <div class="container ">
            <div class="vd_top-nav vd_nav-width  ">
                <div class="vd_panel-header">
                    <div class="logo">
                        <a href="@Url.Action("Logo","Manage")">
                            <img id="logoSite" alt="logo" src="/Images/unknown.png" height="35px">
                        </a>
                    </div>
                    <!-- logo -->
                    <div class="vd_panel-menu  hidden-sm hidden-xs" data-intro="<strong>Minimize Left Navigation</strong><br/>Toggle navigation size to medium or small size. You can set both button or one button only. See full option at documentation." data-step="1">
                        <span class="nav-medium-button menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Medium Nav Toggle" data-action="nav-left-medium">
                            <i class="fa fa-bars"></i>
                        </span>

                        <span class="nav-small-button menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Small Nav Toggle" data-action="nav-left-small">
                            <i class="fa fa-ellipsis-v"></i>
                        </span>

                    </div>

                    <div class="vd_panel-menu visible-sm visible-xs">
                        <span class="menu visible-xs" data-action="submenu">
                            <i class="fa fa-bars"></i>
                        </span>



                    </div>
                    <!-- vd_panel-menu -->
                </div>
                <!-- vd_panel-header -->

            </div>
            <div class="vd_container">
                <div class="row">
                    <div class="col-sm-5 col-xs-12">
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <div class="vd_mega-menu-wrapper">
                            <div class="vd_mega-menu pull-right">
                                <ul class="mega-ul">
                                    <li id="top-menu-1" class="one-icon mega-li">
                                        <a href="@Url.Action("Users","CPanel")" class="mega-link">
                                            <span class="mega-icon"><i class="fa fa-users"></i></span>
                                            @*<span class="badge vd_bg-red">1</span>*@
                                        </a>

                                        <!-- vd_mega-menu-content -->
                                    </li>
                                    <li id="top-menu-2" class="one-icon mega-li">
                                        <a href="@Url.Action("Departments","CPanel")" class="mega-link">
                                            <span class="mega-icon"><i class="fa fa-sitemap"></i></span>
                                            @*<span class="badge vd_bg-red">10</span>*@
                                        </a>

                                        <!-- vd_mega-menu-content -->
                                    </li>
                                    <li id="top-menu-3" class="one-icon mega-li">
                                        <a href="@Url.Action("News","CPanel")" class="mega-link">
                                            <span class="mega-icon"><i class="fa fa-bars"></i></span>
                                            @*<span class="badge vd_bg-red">51</span>*@
                                        </a>

                                        <!-- vd_mega-menu-content -->
                                    </li>




                                </ul>
                                <!-- Head menu search form ends -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- container -->
    </div>
    <!-- vd_primary-menu-wrapper -->

</header>