<footer id="footer">
    <div class="container">
        <div class="column-two-fourth">
            <h5 class="line"><span>حولنا</span></h5>
            <p>نحن في الاتحاد الوطني لطلبة سوريا نسعى لتحقيق اهداف شعبنا في الوحدة والحرية و الاشتراكية </p>
        </div>
        <p class="copyright">Copyright @DateTime.Now.ToString("yyyy"). All Rights Reserved -WASEEM ALSAEED AND ADIB NA'AL</p>
    </div>
</footer>